body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

.container {
    text-align: center;
    padding: 40px;
}

.downloads {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: rgba(255,255,255,0.1);
    width: 220px;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(255,255,255,0.2);
}

.card span {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #00ffcc;
    color: black;
    border-radius: 20px;
    font-weight: bold;
}
